.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/** Navbar CSS **/

.navbar {
  background-color: #3C3C3C;
  color: #FFFFFF;
  height: 85px;
  display: flex;
}

.navbar p {
  margin: auto;
  font-weight: 700;
  font-size: 20px;
}

.menu {
  display: flex;
  margin-left: 180px;
}

.menu p {
  padding: 15px
}

.logo {
  height: 80px;
  padding-left: 35px;
}

/** Viewbox CSS **/

.view-box-parent {
  display: flex;
}

.view-box-1 {
  width: 300px;
  overflow: scroll;
}

.view-box-1::-webkit-scrollbar {
  display: none;
  }

.view-box-2 {
  overflow: scroll;
  flex-grow: 1;
}

.view-box-2::-webkit-scrollbar {
  display: none;
  }

/** View screen CSS **/

.viewscreen {
  display: flex;
  background-color: black;
  color: #FFFFFF;
  padding: 0;
  width: auto;
  height: calc(75vw / (16/9));
}

/** Scoreboard CSS **/

.scoreboard {
  display: flex;
  background-color: #262626;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-weight: 700;
}