.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: #3C3C3C;
  color: #FFFFFF;
  height: 85px;
  display: flex;
}

.Navbar p {
  margin: auto;
  font-weight: 700;
  font-size: 20px;
}

.menu {
  display: flex;
  margin-left: 180px;
}

.menu p {
  padding: 15px
}

.logo {
  height: 80px;
}