
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/** Navbar CSS **/

.navbar {
  background-color: #3C3C3C;
  color: #FFFFFF;
  height: 85px;
  display: flex;
}

.logo {
  margin-right: 100px;
}

.nav-dropdown {
  background-color: #3C3C3C;
  display: flex;
  flex-direction: column;
  overflow: visible;
  z-index: 99;
}

.nav-dropbtn {
  background-color: #3C3C3C;
  height: 85px;
  border: none;
  color: #FFFFFF;
  font-size: 1.2rem;
  z-index: 99;
}

.nav-dropdown-content {
  z-index: 9999;
  font-size: 1.2rem;
  height: 3rem;
  background-color: #262626;
  display: none;
  align-items: center;
  justify-content: center;
}

.nav-dropdown:hover .nav-dropdown-content{
  display: flex;
}

.nav-dropbtn:hover {
  background-color: #262626;
}


/** Viewbox CSS **/

.view-box-parent {
  display: flex;
}

.view-box-1 {
  width: 300px;
  overflow: scroll;
}

.view-box-1::-webkit-scrollbar {
  display: none;
  }

.view-box-2 {
  overflow: scroll;
  flex-grow: 1;
}

.view-box-2::-webkit-scrollbar {
  display: none;
  }

/** View screen CSS **/

.viewscreen {
  display: flex;
  background-color: black;
  color: #FFFFFF;
  padding: 0;
  width: auto;
  height: calc(75vw / (16/9));
  z-index: 1;
}

/** Scoreboard CSS **/

.scoreboard {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  overflow: scroll;
}

.scoreboard::-webkit-scrollbar {
  display: none;
}

.score-event {
  font-size: medium;
}

.score-pane {
  display: flex;
  width: 85%;
  margin-left: 10%;
}

.score-title {
  margin-top: 25px;
  margin-left: -120px;
  margin-bottom: 10px;
}

.score-box-holder {
  display: flex;
}

.score-box {
  width: 6px;
  height: 16px;
  margin: 1px;
}